@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 13%
    left: 18%
    width: 29%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 62%
    right: 77%
    width: 24%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 22%
    right: -4%
    width: 27%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption, table caption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
  background-color: #EBE7FF !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

.text-end 
    text-align: left !important

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-image: url(../assets/curso/common/bg1.png)
  &-2
    background-image: url(../assets/curso/common/bg4.png)
    background-size: cover
  &-3
    background-image: url(../assets/curso/common/bg7.png)
    background-size: cover
  &-4
    background-image: url(../assets/curso/common/bg2.png)
    background-size: cover
  &-5
    background-image: url(../assets/curso/common/bg3.png)
    background-size: cover
  &-6
    background-image: url(../assets/curso/common/bg5.png)
    background-size: cover
  &-7
    background-image: url(../assets/curso/common/bg6.png)
    background-size: cover
.bg-color
  &-1
    background-color: #B6EBF3 !important
  &-2
    background-color: #EDFAFC
  &-3
    background-color: #F3ECFD !important
  &-4
    background-color: #FFFAE5
  &-5
    background-color: #FFCA00
  &-6
    background-color: #843BEB
  &-7
    background-color: #FFF9E2 !important
  &-8
    background-color: #F6F6F6
  &-9
    background-color: #F8DBFD
  &-white
    background-color: white



/////////IMG_100%_CAJON_MEDIO/////////
.pst
  position: relative
  z-index: 2
.banner-text
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 20px;
  border-radius: 10px
  padding: 20px 30px
  margin-top: -60px
  @media screen and (max-width: $bp-max-sm)
    margin-top: -10px

.pst-2
  position: absolute
  top: -53px
  right: 22px

  @media screen and (max-width: $bp-max-lg)
    right: 0

//CLASES TITULOS//
.titulo-con-imagen
  display: flex
  align-items: center
  position: relative
.titulo-con-imagen__fondo
  background-color: #CEB1F7
  border-radius: 20px 0 20px 20px
  padding: 10px 20px
  display: inline-flex
  align-items: center
.titulo-con-imagen__imagen
  position: absolute
  left: 0px
  width: 50px
.titulo-con-imagen__texto
  margin: 0
  padding-left: 50px

//////////////CUSTOM TABS-A/////////////
.tabs-a.color-acento-botones .tabs-a__tab__selected 
  background-color: #FFD256
  color: $color-sistema-texto
.tabs-a.color-acento-botones .tabs-a__tab__selected:before 
  background-color: #FFD256
.tabs-a__tab
  background-color: #F1F6FF
.tarjeta.color-acento-botones--borde
  background-color: #E2E7F7
  border: solid 4px #E2E7F7
.tabs-a.color-acento-botones .tabs-a__tab:hover, .tabs-a.color-acento-botones .tabs-a__tab:active, .tabs-a.color-acento-botones .tabs-a__tab:focus 
    background-color: #FFD256
    color: $color-sistema-texto
////////////AJUSTE TAMAÑO CONTERNEDOR IZQUIERO TABS-A//////////
.tabs-a
  @media (min-width: 1200px) 
    .row
      .col-xl-3 
        flex: 0 0 auto
        width: 38%
      .col-xl-9
        flex: 0 0 auto
        width: 62%
  @media (min-width: 992px) 
    .row
      .col-lg-4 
        flex: 0 0 auto
        width: 40%
      .col-lg-8 
        flex: 0 0 auto
        width: 60%

.boton.color-acento-botones *
  color: $color-sistema-texto

/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

  
 